<h1 class="text-center mb-4">Electricity Comparison</h1>
<form id="compareForm" class="row g-3 justify-content-center" action="/compare" method="POST">
  <% if (errors.length > 0) { %>
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="alert alert-danger text-center error-message">
        <ul class="mb-0">
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  <% } %>

  <div class="col-12 col-md-12 col-lg-10">
    <div class="row mb-3">
      <label for="region" class="col-md-4 col-form-label">Electricity Supply Region:</label>
      <div class="col-md-8">
        <div class="input-group">
          <select id="region" name="region" class="form-select">
            <option value="urban" <%= formData.region === 'urban' ? 'selected' : '' %>>Urban</option>
            <option value="rural" <%= formData.region === 'rural' ? 'selected' : '' %>>Rural</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <span class="d-block text-primary mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="In order to present you with the most accurate comparison results, we need to know if you are a Rural or Urban customer.">
          <i class="fas fa-question-circle"></i> What's this?
        </span>
      </div>
    </div>

    <div class="row mb-3">
      <label for="provider" class="col-md-4 col-form-label">Current Provider:</label>
      <div class="col-md-8">
        <div class="input-group">
          <select id="provider" name="provider" class="form-select">
            <option value="none" <%= formData.provider === 'none' ? 'selected' : '' %>>None</option>
            <option value="pinergy" <%= formData.provider === 'pinergy' ? 'selected' : '' %>>Pinergy</option>
            <option value="energia" <%= formData.provider === 'energia' ? 'selected' : '' %>>Energia</option>
            <option value="yuno" <%= formData.provider === 'yuno' ? 'selected' : '' %>>Yuno</option>
            <option value="elec" <%= formData.provider === 'elec' ? 'selected' : '' %>>Electric Ireland</option>
            <option value="other" <%= formData.provider === 'other' ? 'selected' : '' %>>Other</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="usageType" class="col-md-4 col-form-label">Annual Electricity Usage:</label>
      <div class="col-md-8">
        <div class="input-group">
          <select id="usageType" name="usageType" class="form-select">
            <option value="kwh" <%= formData.usageType === 'kwh' ? 'selected' : '' %>>I know how much kWh I consume</option>
            <option value="unknown" <%= formData.usageType === 'unknown' ? 'selected' : '' %>>I'm unsure of my energy consumption</option>
          </select>
        </div>
        <div class="input-group mt-2" id="unknownContainer" style="<%= formData.usageType === 'unknown' ? 'display:flex;' : 'display:none;' %>">
          <input type="number" id="householdSize" name="householdSize" class="form-control text-center" value="<%= formData.householdSize %>">
          <span class="input-group-text col-auto">inhabitants</span>
        </div>
        <div class="input-group mt-2" id="kwhAmountContainer" style="<%= formData.usageType === 'kwh' ? 'display:flex;' : 'display:flex;' %>">
          <input type="number" id="kwhUsage" name="kwhUsage" class="form-control text-center" value="<%= formData.kwhUsage %>">
          <span class="input-group-text col-auto">kWh</span>
        </div>
      </div>
      <div class="col-md-4">
        <span class="d-block text-primary mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Choose how you know your annual electricity usage.">
          <i class="fas fa-question-circle"></i> What's this?
        </span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary">Compare prices</button>
      </div>
    </div>
  </div>
</form>