<div class="container my-4">
    <h1 class="text-center mb-4"><%= title %></h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Provider</th>
                <th>Annual Spend (Low)</th>
                <th>Annual Spend (Medium)</th>
                <th>Annual Spend (High)</th>
            </tr>
            </thead>
            <tbody>
            <% if (results.bestPlan) { %>
                <tr class="best-plan">
                    <td><%= results.bestPlan.provider %></td>
                    <td><%= results.bestPlan.annualSpendLow %></td>
                    <td><%= results.bestPlan.annualSpendMedium %></td>
                    <td><%= results.bestPlan.annualSpendHigh %></td>
                </tr>
            <% } else { %>
                <tr>
                    <td colspan="4" class="text-center">No best plan found</td>
                </tr>
            <% } %>
            <% Object.keys(results.plans).forEach(function(provider) { %>
                <% if (provider !== results.bestPlan?.provider) { %>
                    <tr>
                        <td><%= provider %></td>
                        <td><%= results.plans[provider].annualSpendLow %></td>
                        <td><%= results.plans[provider].annualSpendMedium %></td>
                        <td><%= results.plans[provider].annualSpendHigh %></td>
                    </tr>
                <% } %>
            <% }); %>
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Compare Prices Again</a>
    </div>
</div>